@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}

.popular__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Membuat teks saling berjauhan */
}

.popular__description p {
    margin: 0;
    /* Menghapus margin default */
    font-size: 1rem;
    color: var(--text-dark);
}

.popular__description .lebih__lanjut {
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    /* Warna background */
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scroll-to-top {
    position: fixed;
    bottom: 60px;
    right: 50px;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    /* Tombol hanya muncul ketika user scroll */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #28324d;
}

.scroll-to-top:hover {
    background-color: #28324d;
}

.scroll-to-top i {
    margin: 0;
}

.fasilitas__container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--background-light);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.fasilitas__container h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.fasilitas__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.fasilitas__list li {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.fasilitas__list li i {
    color: var(--primary-color);
}

.popular__description .lebih__lanjut:hover {
    background-color: var(--primary-color-dark);
}

.gkm1 {
    width: 700px;
    height: 210px;
    object-fit: cover;
    object-position: 10% 40%;
    /* Geser vertikal lebih tinggi (20% dari atas) */
}

.g2 {
    width: 700px;
    height: 210px;
    object-fit: cover;
    object-position: 10% 50%;
}

.gedungf {
    width: 700px;
    height: 210px;
    object-fit: cover;
    object-position: 0% 50%;
}

.heru {
    width: 700px;
    height: 210px;
    object-fit: cover;
    object-position: 10% 60%;
}

.logo {
    width: 120px;
    margin-top: -15px;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 1rem;
}

.section__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
    cursor: pointer;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.header__container {
    padding: 1rem 1rem 5rem 1rem;
}

.header__image__container {
    position: relative;
    min-height: 500px;
    background-image: linear-gradient( to right, rgba(44, 56, 85, 0.9), rgba(100, 125, 187, 0.1)), url("../assets/adver.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.header__content {
    max-width: 600px;
    padding: 5rem 2rem;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
}

.header__content p {
    color: var(--extra-light);
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease;
}

input {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: #fff;
}

input:focus {
    border-color: #8080D7;
    /* Highlight input on focus */
}

input:focus+label,
input:not(:placeholder-shown)+label {
    top: -10px;
    font-size: 20px;
    color: #000;
    /* Highlight label */
}

.booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.booking__container .input__group {
    width: 100%;
    position: relative;
}

.booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
}

.booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
}

.booking__container input:focus~label {
    font-size: 0.8rem;
    top: 0;
}

.booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
}

.booking__container .btn {
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    /* Atur posisi tombol relatif */
    top: -10px;
    /* Gerakkan tombol ke atas */
}

.booking__container .btn:hover {
    background-color: var(--primary-color-dark);
}

.popular__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.popular__card {
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.popular__card:hover {
    transform: translateY(-5px);
}

.popular__card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.popular__content {
    padding: 1rem;
}

.popular__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.popular__card__header h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.popular__content p {
    color: var(--text-light);
}

.client {
    background-color: var(--extra-light);
}

.client__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.client__card {
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client__card img {
    max-width: 80px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 100%;
}

.client__card p {
    text-align: center;
    color: var(--text-dark);
}

.reward__container {
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.reward__container p {
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--text-light);
}

.reward__container h4 {
    max-width: 500px;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.reward__btn {
    padding: 0.9rem 3rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.reward__btn:hover {
    background-color: #28324d;
}

.footer {
    background-color: var(--extra-light);
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5rem;
}

.footer__col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer__col p {
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.footer__col ul {
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.footer__col p:hover {
    color: var(--text-dark);
}

.footer__bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: right;
    overflow: hidden;
}

.footer__bar::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 18rem;
    transform: translateY(-50%);
    width: 35rem;
    height: 2px;
    background-color: var(--text-light);
}

@media (max-width: 900px) {
    .nav__links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--white);
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav__links.active {
        display: flex;
    }

    .nav__links li {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
    }

    .nav__links .btn {
        width: 100%;
        margin-top: 1rem;
    }

    .header__content h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .popular__grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .hamburger {
        display: block;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
}

@media (max-width: 600px) {
    .logo {
        width: 100px;
    }

    .header__content {
        padding: 3rem 1rem;
    }

    .header__content h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .popular__grid {
        grid-template-columns: 1fr;
    }

    .popular__card img {
        height: 180px;
    }
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 5px 0;
    transition: all 0.3s ease;
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
}